@charset "UTF-8";

@media screen and (max-width:600px){
    
    header h1{
        font-size: 2em;
    }
    header p{
        font-size: 17px;
    }
    #simple{
        width: 360px;
        height: 200px;
    }
    #cs16{
        display: inline-block;
        margin-left: 10px;
        width: 40%;
    }
    #csgo{
        width: 53.34%;
    }
}